* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

nav {
  background-color: #fff;
  height: 59px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 70;
}

@media screen and (max-width: 755px) {
  nav {
    padding: 0% 2%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 755px) {
  nav .nav-items.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
}

nav .icon {
  width: 10%;
  position: absolute;
  z-index: 1000;
  left: 90%;
}

nav .hamburger {
  display: none;
}

@media screen and (max-width: 755px) {
  nav .hamburger {
    display: block;
  }
}

nav .x-icon {
  display: none;
}

nav svg {
  cursor: pointer;
}

nav .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 755px) {
  nav .nav-items {
    position: fixed;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px 10px;
    -webkit-box-shadow: 1px 1px 1px 1px gray;
            box-shadow: 1px 1px 1px 1px gray;
    height: 100vh;
    left: 0;
    top: 0;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    clip-path: circle(50px at 90% -40%);
    -webkit-clip-path: circle(50px at 90% -40%);
    pointer-events: none;
    -webkit-transition: all 1.6s ease-out;
    transition: all 1.6s ease-out;
    z-index: 999;
  }
}

nav .nav-items .list_link {
  list-style: none;
}

@media screen and (max-width: 755px) {
  nav .nav-items .list_link {
    padding: 6px 0px;
    opacity: 0;
  }
  nav .nav-items .list_link:nth-child(1) {
    -webkit-transition: all 0.5s ease 0.1s;
    transition: all 0.5s ease 0.1s;
  }
  nav .nav-items .list_link:nth-child(2) {
    -webkit-transition: all 0.5s ease 0.3s;
    transition: all 0.5s ease 0.3s;
  }
  nav .nav-items .list_link:nth-child(3) {
    -webkit-transition: all 0.5s ease 0.5s;
    transition: all 0.5s ease 0.5s;
  }
  nav .nav-items .list_link:nth-child(4) {
    -webkit-transition: all 0.5s ease 0.7s;
    transition: all 0.5s ease 0.7s;
  }
  nav .nav-items .list_link:nth-child(5) {
    -webkit-transition: all 0.5s ease 0.9s;
    transition: all 0.5s ease 0.9s;
  }
}

nav .nav-items a {
  text-decoration: none;
  margin-left: 15px;
  color: #9698a6;
}

nav .nav-items a:hover {
  border-bottom: 3px solid #2dbeba;
  padding-bottom: 16px;
}

@media screen and (max-width: 755px) {
  nav .nav-items a {
    margin-left: 0px;
    color: #2d314d;
    font-weight: 700;
  }
  nav .nav-items a:hover {
    padding-bottom: 0px;
  }
}

nav .nav-items .list_link.fade {
  opacity: 1;
}

#btn_request_invite {
  padding: 10px 20px;
  border-radius: 10px;
  width: 130px;
  border: none;
  cursor: pointer;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
}

#btn_request_invite:hover {
  opacity: 0.7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 755px) {
  #btn_request_invite {
    display: none;
  }
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0px 131px;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-flex-line-pack: center;
      align-content: center;
}

.main {
  position: relative;
  overflow: hidden;
}

.header_top {
  background-image: url("./images/bg-intro-desktop.svg");
  background-color: #fafafa;
  height: 600px;
  background-repeat: no-repeat;
  background-position: 150% -274%;
  background-size: 70% 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  z-index: 40;
}

@media screen and (max-width: 975px) {
  .header_top {
    height: 1000px;
  }
}

@media screen and (max-width: 755px) {
  .header_top {
    background-position: top -186px right -64px;
    background-size: 129% 100%;
  }
}

@media screen and (max-width: 547px) {
  .header_top {
    height: 900px;
  }
}

@media screen and (max-width: 414px) {
  .header_top {
    background-position: top -275px right -110px;
  }
}

@media screen and (max-width: 360px) {
  .header_top {
    background-position: top -400px right -134px;
  }
}

@media screen and (max-width: 280px) {
  .header_top {
    background-position: top -382px right -130px;
  }
}

.header_top .header-text-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding: 30px 0;
  max-width: 500px;
  margin-left: 10%;
}

@media screen and (max-width: 755px) {
  .header_top .header-text-btn {
    margin-left: 0%;
    text-align: center;
  }
}

.header_top .header-text-btn h1 {
  padding-bottom: 20px;
  font-size: 50px;
  font-weight: 700;
}

.header_top .header-text-btn p {
  padding-bottom: 20px;
  line-height: 1.4rem;
  color: #9698a6;
  font-weight: bold;
}

.header_top img {
  width: 45%;
  position: absolute;
  right: -76px;
  top: -36px;
  z-index: 60;
}

@media screen and (max-width: 973px) {
  .header_top img {
    left: 50%;
    top: 4px;
    -webkit-transform: translate(-50%, -119px);
            transform: translate(-50%, -119px);
    width: 65%;
  }
}

@media screen and (max-width: 755px) {
  .header_top img {
    width: 100%;
    -webkit-transform: translate(-50%, -44px);
            transform: translate(-50%, -44px);
  }
}

@media screen and (max-width: 540px) {
  .header_top img {
    -webkit-transform: translate(-50%, -44px);
            transform: translate(-50%, -44px);
    -webkit-transform: translate(-50%, -108px);
            transform: translate(-50%, -108px);
  }
}

@media screen and (max-width: 280px) {
  .header_top img {
    -webkit-transform: translate(-50%, -44px);
            transform: translate(-50%, -44px);
  }
}

@media screen and (max-width: 973px) {
  .header_top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    flex-direction: column-reverse;
  }
}

.why_easy_bank {
  height: 100%;
  background-color: #f3f4f6;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10% 10%;
}

.why_easy_bank .text h1 {
  padding-bottom: 20px;
  max-width: 100%;
  margin-top: 15px;
}

.why_easy_bank .text p {
  max-width: 64%;
  line-height: 1.4rem;
  color: #9698a6;
  margin-top: 15px;
}

@media screen and (max-width: 973px) {
  .why_easy_bank .text p {
    max-width: 100%;
    padding: 0px 8px;
  }
}

@media screen and (max-width: 973px) {
  .why_easy_bank .text {
    text-align: center;
  }
}

.why_easy_bank .features {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  margin-top: 62px;
  gap: 19px;
}

.why_easy_bank .features .features-box h4 {
  margin-top: 32px;
}

.why_easy_bank .features .features-box p {
  max-width: 100%;
  line-height: 1.4rem;
  margin-top: 26px;
  font-size: 16px;
}

@media screen and (max-width: 973px) {
  .why_easy_bank .features .features-box p {
    padding: 0px 11px;
  }
}

@media screen and (max-width: 973px) {
  .why_easy_bank .features .features-box {
    text-align: center;
  }
}

@media screen and (max-width: 973px) {
  .why_easy_bank .features {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.articles_section {
  display: block;
  width: 100%;
  height: 900px;
  padding: 10% 10%;
  background-color: #fafafa;
}

@media screen and (max-width: 973px) {
  .articles_section {
    height: 100%;
  }
}

.articles_section h1 {
  margin-bottom: 32px;
}

.articles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  height: 100%;
}

@media screen and (max-width: 973px) {
  .articles {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.articles article {
  background-color: #fff;
  height: 100%;
}

@media screen and (max-width: 973px) {
  .articles article {
    text-align: center;
    padding: 29px 29px;
  }
}

@media screen and (max-width: 280px) {
  .articles article {
    text-align: center;
    padding: 15px 2px;
  }
}

.articles article img {
  width: 100%;
  height: 45%;
}

.articles article div {
  margin-top: 13px;
  padding: 10px 10px;
}

.articles article div span {
  padding-top: 10px;
  color: #9698a6;
}

.articles article div h4 {
  padding-top: 10px;
}

.articles article div h4:hover {
  color: #2dbeba;
  cursor: pointer;
}

.articles article div p {
  padding-top: 10px;
  color: #9698a6;
  line-height: 1.4rem;
  font-size: 14px;
}

.footer {
  height: 100%;
  background-color: #2d314d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4% 0%;
}

.footer .footer_column1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer_column1 .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer .footer_column1 .social-media li {
  list-style: none;
}

.footer .footer_column1 .social-media li a {
  padding-left: 10px;
  text-decoration: none;
}

.footer .footer_column1 .social-media li a:hover {
  -webkit-filter: invert(63%) sepia(93%) saturate(370%) hue-rotate(127deg) brightness(88%) contrast(81%);
          filter: invert(63%) sepia(93%) saturate(370%) hue-rotate(127deg) brightness(88%) contrast(81%);
}

@media screen and (max-width: 975px) {
  .footer .footer_column1 {
    margin: 15px 0px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (max-width: 755px) {
  .footer .footer_column1 {
    height: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.footer .footer_links {
  padding: 0px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 975px) {
  .footer .footer_links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .footer_links .footer_column2, .footer .footer_links .footer_column3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer_links .footer_column2 li, .footer .footer_links .footer_column3 li {
  list-style: none;
  padding-bottom: 20px;
}

.footer .footer_links .footer_column2 li a, .footer .footer_links .footer_column3 li a {
  text-decoration: none;
  color: #fff;
}

.footer .footer_links .footer_column2 li a:hover, .footer .footer_links .footer_column3 li a:hover {
  color: #2dbeba;
}

.footer .footer_column4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer_column4 #btn_request_invite_footer {
  padding: 10px 20px;
  border-radius: 10px;
  width: 130px;
  border: none;
  cursor: pointer;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  opacity: 0.9;
}

.footer .footer_column4 #btn_request_invite_footer:hover {
  opacity: 0.7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer .footer_column4 #btn_request_invite_footer:hover {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer .footer_column4 span {
  color: #fff;
  margin-top: 20px;
}

@media screen and (max-width: 975px) {
  .footer .footer_column4 {
    margin: 15px 0px;
  }
}

@media screen and (max-width: 755px) {
  .footer .footer_column4 {
    height: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (max-width: 755px) {
  .footer {
    height: 570px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */